<!DOCTYPE html>
<head>
<meta charset="utf-8" lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>AI Helper </title>
<link rel="stylesheet" href="/styles/ai.css" >
</head>


<body>
	<nav><a href="/" id="home"><img src="/images/Icon.png"></a></nav>
	<h1>Jazy</h1>
	<h4>Your all time Study-Mate</h4>
	 <textarea type="text" id="input" name="search_query" placeholder="Type Your Query here ...">	</textarea>
	 <i>Answer:</i>
	 <button id="ask" onclick="fetchData()">Ask</button>
	<output id="output"></output>
</body>
<script>

////////////////////////////Seperator/////////////////////////////		
	    textarea = document.querySelector("#input");
        textarea.addEventListener('input', autoResize, false);

        function autoResize() 
		{   this.style.height = 'auto';this.style.height = this.scrollHeight + 'px';}

////////////////////////////Seperator/////////////////////////////		
	async function fetchData()
	{
		let x= document.getElementById("input").value;
		let y= document.getElementById("output");
		const key_value="<%= keyy %>";
		// var quoteText = `'${key_value}'`
		// console.log(quoteText);
		y.innerText="";

		const url = 'https://chatgpt-42.p.rapidapi.com/gpt4';
		const options = {
			method: 'POST',
			headers: {
				'x-rapidapi-key': key_value,
				'x-rapidapi-host': 'chatgpt-42.p.rapidapi.com',
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({
				messages: [
					{
						role: 'user',
						content: x
					}
				],
				web_access: false
			})
		};
		try {
			const response = await fetch(url, options);
			const result = await response.text();

			const jsonString = result;
			const jsonObject = JSON.parse(jsonString);
			const answer = jsonObject.result;
			// alert(result);
			if(answer!=undefined)
			y.innerText+=(answer);
			else
			{
				y.innerText+="API Limit exceeded ";
			}

		} catch (error) {
			console.error(error);
			y.innerText+="API Limit exceeded , upgrade your plan on https://rapidapi.com/rphrp1985/api/chatgpt-42";
		}
}
////////////////////////////Seperator/////////////////////////////		
</script>
</html>
