<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OrganiseIT</title>
    <link rel="stylesheet" href="../styles/home.css">
    <link rel="stylesheet" href="/styles/css/bootstrap.min.css">
    <link rel="icon" href="/images/Logo.png" >    
</head>

<nav class=" navbar-left" id="navbox">
    <ul >
    <li id="pfp" type="Icon"><a><img src="/images/contact.jpeg" alt="pfp icon" ><br><b><%= foundUser.username %></b></a></li>
    <br><br><br><br><br><br><br>
    <li><a href="/AI_text_summarizer"><strong> AI<br> Assistant</strong></a></li>
    <br><br><br><br><br><br><br><br>    
    <li id="home" type="Icon"><a href="/logout" title="logout" onclick="logout()"><img src="/images/download.jpeg" > Logout</a></li>
    </ul>
</nav>

<body>
    <form action="/upload" method="post" >
    <input id="file_upload" type="file">
    <button type="submit">Upload</button>
    </form>
</body>
<footer id="footer">
    <p>Copyright 2024 &copy; OrganiseIT. All rights reserved.</p>
</footer>
<script>
    function logout() {
        let a =confirm("Do you want to logout ?");
        if(a){
            alert("Logged Out Successfully");
        }
        else{
            stop();
        }
    }
</script>
</html>
