<!DOCTYPE html>
<meta lang="en" charset="UTF-8" name="viewport" content="width=device-width">

<head>
    <title>OrganiseIT</title>
    <link rel="stylesheet prefetch" href="/public/index.css" >
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link href="/public/js/bootstrap.min.js">
    <link rel="icon" href="/images/Logo.png" >
</head>

<nav class="navbar" id="navbox">
    <div class="container-fluid" >
        <a class="navbar-brand" id="home" href="/"><img src="/images/Logo.png"></a>
        <h2>OrganiseIT</h2>
        <ul class="nav navbar-right">
            <li><a href="/otp" class="nav_but"> Sign Up </a></li>
            <span style="padding: 10px;"></span>
            <li><a href="/login" class="nav_but"> Login</a></li>
        </ul>
    </div>
</nav>

<!-- <body> -->
     <!-- <div class="container-fluid" > 
     <p id="Text">Kindly Register to use the Study Organizer<br> <i><b>OR</i></b><br> Login ,if you already have an account.</p> 
     </div> -->
     <div class="all">
        <div class="lol">
            <div class="card" style="border-radius: 20px;">
                <img src="/images/MAIL.png" class="img-fluid" style="height: 200px;margin-left: 10px;display: flex;">
                <b>OTP System</b>
            </div>
            <div class="card" style="border-radius: 20px;">
                <img src="/images/File_upload.jpeg" class="img-fluid" style="height: 200px;margin-left: 10px;">
                <b>File and Notes Uploading</b>
            </div>
        </div >
        <div class="lol">
            <div class="card" style="border-radius: 20px;">
                <img src="/images/chatbot.png" class="img-fluid" style="height: 200px;margin-left: 10px;">
                <b>AI Chatbot</b>
            </div>
        </div>
    </div>
     
<!-- </body> -->
<footer id="footer">
    <p>Copyright 2024 &copy;OrganiseIT. All rights reserved.</p>
</footer>

</html>
