<!DOCTYPE html>
<meta lang="en" charset="UTF-8" name="viewport" content="width=device-width">

<head>
    <title>OrganiseIT</title>
    <link rel="stylesheet" href="/public/login.css" >    
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/js/bootstrap.min.js">
    <link rel="icon" href="/images/Logo.png" >
</head>

<!-- /////////////////////////////////////Seperator/////////////////////////////////// -->
<div class="area" >
    <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
    </ul>
<a href="/" id="home"><img src="/images/Logo.png"></a>
<!-- /////////////////////////////////////Seperator/////////////////////////////////// -->
<h1 id="headi"><b>Enter Email-ID</b></h1>
<form  method="post" action="/otp">
<input id="email"  name="email" type="text" class="inp" placeholder="Enter Email-ID here " required><br>
<div style="width: 100%;">
    <button  type="submit" class="btn" id="op" >Get OTP 📩</button>
</div>
</form>
<!-- /////////////////////////////////////Seperator/////////////////////////////////// -->
<footer id="footer">
    <p>Copyright 2024 &copy;OrganiseIT. All rights reserved.</p>
</footer> 
</div>
</html>
