@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
*, ::before, ::after {
    padding: 0;
    margin: 0;
  }
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: #46624b;
}
#home img{
    padding: 5px 15px 0 15px;
    width:82px;height: 55px;
}
.navbar{
    position: absolute ;top: 0;
    background-color: #46624b;
    z-index: 2;
}
.nav_but{
    color:black;
    border: 2px solid black;
    padding: 2px;
    background-color: rgb(224, 208, 189);
    position: relative;
    font-weight: 500;
    border-radius: 10px;
    padding: 10px;
}
.nav_but:hover{color: white;background-color: black;transition: 400ms ease-in;cursor: pointer;text-decoration: none;}
.nav_but:not(:hover){transition: 400ms ease-out;}


#pfp{
    border-radius: 50%;
    position: relative; 
    border: 2px solid black;
    top: 15px;
    width: 32px;height: 32px;
    margin-right: 10px;
}
/* #add{
    position: absolute;width: 40px;height: 40px;
    margin-top:100px ;
    padding: 6px;left: 30px;
    border-radius: 25%;border: 2px black solid;
    cursor: pointer;z-index: 2;
} */
#footer{
    position: absolute;margin-left: 5%;margin-top: 50px;
    bottom: 0;border-top: 2px solid black ;width :90%;
    color: rgb(0, 0, 0);justify-content: center;text-align: center;
    z-index: 10!important;
}
.container-fluid{
    background-color: #46624b;
}
body #Text
{
    position: relative;
    font-family: "Poppins";
    background-color: #46624b;

    font-size: 45px;display: block;
    color: bisque;
    text-align: center;justify-content: center;
    padding-top: 3em;padding-left: 3.3em;padding-right: 1em;
    z-index: 1;
    user-select: none;
}
@media screen and (max-width:600px)  {
    body #Text{
    font-size: 30px;left: -10%;

    }
    .nav_but{
        border: 2px solid black;
        padding-left: 10px;padding-right: 10px;padding-bottom: 5px;
    }
}


