/* Main CSS */
html{overflow-y: hidden;}

#navbox{
    position:fixed;
    left: 30px;align-items: center;    background-color: #637967;
    padding-top: 300px;
}
#navbox ul{list-style: none;}
#pfp img{
    border-radius: 50%;
    border: 2px solid black;
    margin-top: 10px;
    width: 32px;height: 32px;
    margin-right: 10px;
}
#home img{
    border-radius: 50%;
    /* position: fixed; */
    border: 2px solid black;
    margin-top: 30px;
    width: 32px;height: 32px;
    margin-right: 10px;
    cursor: pointer;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #637967;
    /* margin-top: 20px; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* margin-bottom: 100px; */
    top: -20px;
    /* padding-top: -20px; */
    /* padding-bottom: 20px; */
}

#contain {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 8px 10px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 827px;
    height: 600px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}

#list-header {
    display: flex;
    align-items: left;
    justify-content: left;
}

.blankDiv {
    background-color: #f9f9f9;
    border: none;
    padding: 20px;
    border-radius: 8px;
    height: 200px;
    width: 200px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#addNoteDiv {
    background-color: #f9f9f9;
    border: 1px solid #C7BFB4;
    padding: 20px;
    border-radius: 8px;
    height: 200px;
    width: 200px;
    margin: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#addNoteDiv:hover {
    transition: 0.25s;
    background-color: #f1f1f1;
}


#addNoteDiv i {
    font-size: 70px;
    color: #C7BFB4;
}


/* List CSS */
#list-container {
    display: flex;
    align-items: left;
    justify-content: left;
}
.navbar{
    position: absolute ;top: 0;
    background-color: #637967;
    z-index: 2;
}
.nav_but{
    color:black;
    border: 2px solid black;
    padding: 2px;
    background-color: rgba(199, 255, 115, 0.694);
    position: relative;
    font-weight: 500;
} 
#footer{
    position: fixed;margin-left: 5%;
    bottom: 0;border-top: 2px solid black ;width :90%;
    color: rgb(0, 0, 0);justify-content: center;text-align: center;
    z-index: 10!important;
}
#contain ul  {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

#contain li {
    background-color: #DBD2C6;
    margin: 5px 0;
    padding: 18px;
    border-radius: 8px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Added to align buttons to the right */
    height: 200px;
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow:  9px 9px 18px #b3b3b3,
             -9px -9px 18px #EBE1D4;
}

li span {
    font-size: 12px;
    flex-grow: 1;
    word-wrap: break-word;
    overflow-y: auto;
    width:100%;
}

#editBtn, #deleteBtn {
    background-color: #637967;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 0 5px; /* Adjusted margin for spacing */
    cursor: pointer;
    border-radius: 4px;
    font-size: 12px;
    width: 60px;
}

#editBtn {
    background-color: gray;
}

#deleteBtn:hover {
    background-color: #435245;
}

#editBtn:hover {
    background-color: #4F4F4F;
}


/* Create Note Popup CSS */
#popupContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

textarea {
    width: 300px;
    height: 200px;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px solid #435245;
}

#btn-container {
    display: flex;
}

#submitBtn, #closeBtn {
    width: 100px;
    background-color: #435245;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
}

#closeBtn {
    background-color: gainsboro;
}

/* Editing Popup CSS */
#editing-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#submitBtn, #closeBtn {
    width: 100px;
    background-color: #435245;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
}

#closeBtn {
    background-color: #4F4F4F;
}


